
<div class="container container-fluid border border-dark">
    <div class="row">
        <div class="col">
            <label>Email: </label>
            @userDataModel.email
        </div>
        <div class="col">
            <label>Roles:</label>
            @foreach (var role in userDataModel.roleList) {
                @role
            }
        </div>
        
    </div>
</div>

@code {

    [Parameter]
    public UserDataModel userDataModel { get; set; }

}
