@layout NothingLayout
@inherits Blazor_Instrument_Cluster.Client.Code.KeyboardMouse


<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-dark" style="width: 100%;">
                <input id="canvas" autocomplete="off"
                       style="width: 100%; height: 100%; border: 1px solid black; position: absolute; top: 0; left: 0; z-index: 100; opacity: 0; cursor: pointer"
                       @onclick="click"
                       @onmousemove="move"
                       @onmousedown="mouseDown"
                       @onmouseup="mouseUp"
                       @onkeydown="keyDown"
                       @onkeyup="keyUp" />
                Lock Mouse
            </button>
        </div>

        <div class="col">
            <button @onclick="connectToCrestronControl" class="btn btn-dark" style="width: 100%;">
                Request Control
            </button>
        </div>

        <div class="col">
            @if (deviceAndControllerFound && (!controlling)) {
                <p><b>Status:</b> Waiting for Control</p>
            }
            else if (deviceAndControllerFound && controlling) {
                <p><b>Status:</b> Controlling</p>
            }
            else {
                <p><b>Status:</b> Not Connected</p>
            }
        </div>

        <div class="col">
            <select class="custom-select" @bind="@currentSubname">
                <option value="@string.Empty">None</option>
                @foreach (string subName in listOfSubNames) {
                    <option value="@subName">
                        @subName
                    </option>
                }
            </select>
        </div>
    </div>
</div>
