@using Blazor_Instrument_Cluster.Client.Code.UrlObjects

<div oncontextmenu="return false;" style="display: inline-block" @onmousedown="down" @onmouseup="up">
    <p style="            
              min-width: @key.width;
              margin-left: @key.margin;
              background-color: #4d4d4d;
              padding: 0.4em;
              border-radius: 0.4em;
              color: white;
              display: inline-block;
              text-align: center;
              cursor: pointer;">@key.displayString
        </p>
</div>


@code {

    [Parameter]
    public KeyProperties key { get; set; }

    private void down(MouseEventArgs e) {
        Console.WriteLine(e.Button);
        Console.WriteLine($"button {key.keyValue}");
    }

    private void up(MouseEventArgs e) {
        Console.WriteLine(e.Button);
        Console.WriteLine($"button {key.keyValue}");
    }
}
