@using Blazor_Instrument_Cluster.Client.Components.VirtualKeyboard
@page "/VideoAndControl/{urlDeviceJson}"
@layout TopBarLayout

<div style="width: 1280px; height: 720px; position: relative" class="container">
    <KeyboardMouse urlDeviceJson="@urlDeviceJson" @ref="keyboardMouse"></KeyboardMouse>
    <VideoMJPEG urlDeviceJson="@urlDeviceJson"></VideoMJPEG>
    <div style="margin: 1em">
        <VirtualKeyboard keyEvent="@handleKeyEvent"></VirtualKeyboard>
    </div>
    
</div>


@code {
    [Parameter]
    public string urlDeviceJson { get; set; }

    private KeyboardMouse keyboardMouse;

    private void handleKeyEvent(string s)
    {
        keyboardMouse.virtualKeyboardHandler(s);
    } }