@using Blazor_Instrument_Cluster.Client.Components.VirtualKeyboard
@page "/VideoAndControl/{urlDeviceJson}"
@layout TopBarLayout

<div style="position: relative" class="container h-auto w-auto bg-light">
    <div class="row h-75 m-1" style="position: relative">
        <VideoMJPEG urlDeviceJson="@urlDeviceJson"></VideoMJPEG>
    </div>
    <div class="row h-25 w-auto">
        <KeyboardMouse urlDeviceJson="@urlDeviceJson" @ref="keyboardMouse"></KeyboardMouse>
        <VirtualKeyboard keyEvent="@handleKeyEvent"></VirtualKeyboard>
    </div>
</div>


@code {
    [Parameter]
    public string urlDeviceJson { get; set; }

    private KeyboardMouse keyboardMouse;

    private void handleKeyEvent(string s)
    {
        keyboardMouse.virtualKeyboardHandler(s);
    } }