@inherits Blazor_Instrument_Cluster.Client.Code.VideoMJPEG

<div class="container border-info">
    <div class="row">
        <div class="col dropdown">
            <select @bind="@uri">
                @{ int i = 0;}
                @foreach (Uri uri in uris) {
                    <option value="@uri">Device @i</option>
                    i++;
                }
            </select>
        </div>
    </div>
    <div class="row">
        <img class="rounded float-left border border-dark" src="@uri" style="max-width: 888px; max-height: 500px; height: 100%; width: 100%; position: relative;" alt="Failed to load video stream" />
    </div>
</div>