@inherits LayoutComponentBase

<div class="top-bar">
    <NavLink href="DeviceSelect">
        <div class="oi oi-menu"></div>
    </NavLink>
    <NavLink href="">
        <div class="oi oi-home"></div>
    </NavLink>


    <NavLink href="" style="float: right">
        <div class="oi oi-person"></div>
    </NavLink>
    <NavLink href="" style="float: right">
        <div class="oi oi-wrench"></div>
    </NavLink>

</div>

<div style="margin-top: 4em">
    @Body
</div>
