@page "/combined"
@layout NothingLayout

<h3>Combined</h3>

<div style="width: 1280px; height: 720px; position: relative">
    <KeyboardMouse name="@name"></KeyboardMouse>
    <Video name="@name"></Video>
</div>


@code {

    public string name { get; set; } = "Radar1";

}
