@using System.Net.Http
@using Blazor_Instrument_Cluster.Shared
@using Blazor_Instrument_Cluster.Client.Components
@layout NothingLayout
@inject HttpClient Http

@page "/DeviceSelect"

<div class="container alert">
    <div class="row">
        <div class="col">
            <h2>
                Remote Devices
            </h2>
        </div>
    </div>
</div>

<div id="ListConnected" class="" style="list-style: none">
    <ul>
        @if (devices != null) {
            @foreach (DeviceModel device in devices) {
                <DeviceComponent deviceInfo="device"></DeviceComponent>
            }
        }
    </ul>
</div>

@code {

    public int port { get; set; } = 44323;
    public string basePath = "https://localhost:";
    public string pathToApi = "/api/ConnectedDevices";
    IEnumerable<DeviceModel> devices = null;

    protected override async Task OnInitializedAsync() {
        string path = basePath + port + pathToApi;
        try {
            devices = await Http.GetFromJsonAsync<IEnumerable<DeviceModel>>(new Uri(path));
        }
        catch (Exception ex) {
            Console.WriteLine("Exception thrown: " + ex.Message);
        }
    }

}