@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Logging

<h1>Blazor testing</h1>

<button class="btn btn-primary" @onclick="NavigateToVideoComponent">
    Navigate to the video component
</button>

@code {
    private void NavigateToVideoComponent() {
        NavigationManager.NavigateTo("video");
    }

}