@using Blazor_Instrument_Cluster.Client.Components.VirtualKeyboard;
@page "/Test"
<h3>test</h3>


<div style="width: 1280px; height: 720px; position: relative" class="container">
    <VirtualKeyboard></VirtualKeyboard>
</div>




@code {

}
