@page "/video"
@layout NothingLayout
@using System.Net.WebSockets
@using System.Text
@using System.Threading
@implements IDisposable

<h3>State: @webSocket.State</h3>

<p>@message</p>


@code {
    CancellationTokenSource disposalTokenSource = new CancellationTokenSource();
    ClientWebSocket webSocket = new ClientWebSocket();
    string message = "Ogga";

    protected override async Task OnInitializedAsync()
    {
        await webSocket.ConnectAsync(new Uri("wss://localhost:44323/ws"), disposalTokenSource.Token);
        _ = ReceiveLoop();
    }

    async Task ReceiveLoop()
    {
        
        while (!disposalTokenSource.IsCancellationRequested)
        {
            var buffer = new ArraySegment<byte>(new byte[1024]);
            WebSocketReceiveResult received = await webSocket.ReceiveAsync(buffer, disposalTokenSource.Token);
            string receivedAsText = Encoding.ASCII.GetString(buffer.Array, 0, received.Count);
            message = receivedAsText;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        disposalTokenSource.Cancel();
        _ = webSocket.CloseAsync(WebSocketCloseStatus.NormalClosure, "Bye", CancellationToken.None);
    }
}